<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Galenus - your online doctor</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

</head>
<body>

	<div class="container">
		<a href="/"> <img
			src="http://www.3quarksdaily.com/.a/6a00d8341c562c53ef0120a896d16a970b-250wi"
			width="100" /> <!--	th:src="@{images/logo.png}" / -->
		</a>



		<ol class="breadcrumb">
			<li class="active">Home</li>
			<li><a href="/user/patient">Logged in as Patient</a></li>
			<li><a href="/user/doctor">Logged in as Doctor</a></li>
			<li><a href="/appointment">Appointments</a></li>
		</ol>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Galenus was built with Spring Boot,
					jQuery, bootstrap and other technologies to be mentioned here.</h3>
			</div>
		</div>
	</div>
	<div class="footer" id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<h3>Java development</h3>
					<ul>
						<li>Iulian Todor</li>
						<li>Mihai Savin</li>
						<li>Petru Hangiu</li>
						<li>Florin Tompea</li>
					</ul>
				</div>
				<div class="col-md-2">
					<h3>Web development</h3>
					<ul>
						<li>Dobri Andras</li>
					</ul>
				</div>
				<div class="col-md-2">
					<h3>Quality Assurance</h3>
					<ul>
						<li>Sfica Simina</li>
						<li>Alin Ciupei</li>
						<li>Raul Ciunt</li>
						<li>Peter Dan</li>
					</ul>
				</div>
				<div class="col-md-2">
					<h3>Automation</h3>
					<ul>
						<li>Gogota Claudiu</li>
						<li>Sas Georgian</li>
					</ul>
				</div>
				<div class="col-md-2">
					<h3>Project management</h3>
					<ul>
						<li>Dana Toma</li>
						<li>Florin Domuta</li>
					</ul>

				</div>
			</div>
			<!--/.row-->
		</div>
		<!--/.container-->
	</div>
</body>
</html>
