<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Galenus - your online doctor</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

</head>
<body>

	<div class="container">
		<a href="/"> <img
			src="http://www.3quarksdaily.com/.a/6a00d8341c562c53ef0120a896d16a970b-250wi"
			width="100" />
		</a>



		<ol class="breadcrumb">
			<li class="active">Home</li>
			<li><a href="/appointment">Appointments</a></li>
			<li><a href="https://cj-web-3-dobri-andras-dobriandras.c9.io/PROIECT_SC_INF/user.html">Loged as Patient</a></li>
		</ol>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Operation successful.</h2>
			</div>
		</div>
	</div>
</body>
</html>
